<mat-card>
  <img class=card-image src="{{player.picture}}">

  <div class="data">
    <mat-card-title>{{player.firstname}} {{player.lastname}}</mat-card-title>

    <div class="mat-card-subTitle">
      <mat-list-item >RANK</mat-list-item>
      <mat-list-item >POINTS</mat-list-item>
      <mat-list-item >COUNTRY</mat-list-item>
    </div>
    <div class="value">
      <mat-list-item>#{{player.data.rank}}</mat-list-item>
      <mat-list-item>{{player.data.points}}</mat-list-item>
      <mat-list-item>{{player.country.code}}</mat-list-item>
    </div>
  </div>

</mat-card>


