<div class="container">

  <mat-card routerLink="playerdetails"
            (click)="onViewPlayerDetails()"
            class="container player-card">

    <img class="card-image" src="{{player.picture}}">
    <div class="row">
      <mat-card-title class="player-title offset-4 col-7">{{player.firstname}} {{player.lastname}}</mat-card-title>
    </div>
    <div class="row">
      <div class="col-2 offset-4">
        <mat-list-item class="player-item">RANK</mat-list-item>
      </div>
      <div class="col-2">
        <mat-list-item class="player-item">POINTS</mat-list-item>
      </div>
      <div class="col-2">
        <mat-list-item class="player-item">COUNTRY</mat-list-item>
      </div>
    </div>
    <div class="row">
      <div class="col-2 offset-4">
        <mat-list-item class="value">#{{player.data.rank}}</mat-list-item>
      </div>
      <div class="col-2">
        <mat-list-item class="value">{{player.data.points}}</mat-list-item>
      </div>
      <div class="col-2">
        <mat-list-item class="value">{{player.country.name}}</mat-list-item>
      </div>
    </div>
  </mat-card>
</div>

